<div class="contact-page">
    <h1>Contact me</h1>
    <form>
        <label for="contact-subject"> Subject </label>
        <input type="text" id="contact-subject" placeholder="Your subject" />
        <label for="contact-message"> Message </label>
        <textarea
            id="contact-message"
            placeholder="Write your message here..."
        ></textarea>
    </form>
</div>
